/*
 * 图片居中
 */
p.p-img {
  text-align: center;
}

/**
 * 正文内容
 */
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}
    .content p {
      text-indent : 2em;
    }
    h2.content-subhead {
      color : #0066FF;
      font-weight: normal;
    }


/**
 * 大标题和副标题
 *
 */
.header {
    margin: 0;
    color : #0099FF;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
    .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

#back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
