body {
    color: #777;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.pure-menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    padding-left: 290px; /* left col width "#menu" */
    left: 0;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.

By using the combination of `position: fixed; top: 0; bottom:0;`, we can make
the menu have 100% height and be fixed on the page as the rest of it scrolls.
*/
#menu {
    margin-left: -290px; /* this should be "#menu" width */
    width: 290px;
    position: fixed;
    top: 0;
    left: 290px; /* this should be "#menu" width */
    bottom: 0;
    z-index: 1; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scroll: touch; /* for smooth scrolling on mobile */
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        font-size: 80%;
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
    #menu .pure-menu,
    #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    #menu .pure-menu li {
      border-top: 1px dashed #333;
    }

        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.pure-menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.pure-menu-link {
    display: none; /* show this only on small screens */
    top: 0;
    left: 290px; /* `#menu`'s width */
    background: #000;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.2em 1.6em;
}

    .pure-menu-link:hover,
    .pure-menu-link:focus {
        background: #000;
    }

    .pure-menu-link span {
        position: relative;
        display: block;
    }

    .pure-menu-link span,
    .pure-menu-link span:before,
    .pure-menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .pure-menu-link span:before,
        .pure-menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .pure-menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `767px`, but modify this based on your app's needs.
*/
@media (max-width: 767px) {

    .header {
        text-align: left;
    }

    /*
    Navigation Push styles.
    */
    #layout {
        position: relative;
        padding-left: 0;
    }
        #layout.active {
            position: relative;
            left: 290px;
        }
            #layout.active #menu {
                left: 290px;
                width: 290px;
            }

    #menu {
        left: 0;
    }

    .pure-menu-link {
        position: fixed;
        left: 0;
        display: block; /* show the button on small screens */
    }

    #layout.active .pure-menu-link {
        left: 290px;
    }
}
