<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Refactoring Cheat Sheet —— Bad Smell</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
  </head>

  <body>
    <header>
      <h2>Refactoring Cheat Sheet</h2>
      <h3>Project maintained by &nbsp;<a href="https://www.github.com/wangvsa">wangvsa</a></h3>
    </header>

    <div class="nav-collapse">
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>

    <div class="main">
      <div class="content">
        {{content}}
      </div>
    </div>

  </body>
</html>
