---
layout: default
title: Dealing with Generalization
dir: /refactoring-cheat-sheet/dealing-with-generalization
menu_items: [
'Pull Up Field<br>值域上移',
'Pull Up Method<br>函数上移',
'Pull Up Constructor Body<br>构造函数本体上移',
'Push Down Method<br>函数下移',
'Push Down Field<br>值域下移',
'Extract Subclass<br>提炼子类',
'Extract Superclass<br>提炼超类',
'Extract Interface<br>提炼接口',
'Collapse Hierarchy<br>折叠继承关系',
'Form Template Method<br>塑造模板函数',
'Replace Inheritance with Delegation<br>以委托取代继承',
'Replace Delegation with Inheritance<br>以继承取代委托'
]
---
{{content}}
