<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
  <title>{{page.title}} &ndash; Refactoring Cheat Sheet &ndash; WangChen</title>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/side-menu.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/content.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/pygments.min.css">
</head>

<body>
<div id="layout">
  <!-- Menu toggle -->
  <a href="#menu" id="menuLink" class="pure-menu-link">
    <!-- Hamburger icon -->
    <span></span>
  </a>

  <div id="menu">
    <div class="pure-menu pure-menu-open">
      <a class="pure-menu-heading" href="#">Refactoring Cheat Sheet</a>
      <ul>
        {% for node in page.menu_items %}
          {% assign tmp = node | split: '<br>' %}
          {% if tmp[0] == page.head_en %}
            {% assign headzh = tmp[1] %}
            <li class="pure-menu-selected"><a href="{{page.dir}}/{{tmp[0]|replace:' ','-'}}.html">{{node}}</a></li>
          {% else %}
            <li><a href="{{page.dir}}/{{tmp[0]|replace:' ','-'}}.html">{{node}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div id="main">

    <a name="top"></a><!-- anchor for back-to-top button--!>
    <div class="header">
      <h1>{{page.head_en}}</h1>
      {% if page.url contains 'index.html' %}
        <h2>{{page.head_zh}}</h2>
      {% else %}
        <h2>{{headzh]}}</h2>
      {% endif %}
    </div>

    <div class="content">
      {{ content }}
    </div>

    <p id="back-to-top">
      <a href="{{site.baseurl}}/"><span></span>Back to Home</a>
      <br><a href="#top"><span></span>Back to Top</a>
    </p>

  </div>

</div>


<script src="{{site.baseurl}}/js/ui.js"></script>

</body>

</html>
