<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Refactoring-cheat-sheet by wangvsa</title>
  </head>

  <body>

    <header>
      <div class="inner">
        <h2>Refactoring-cheat-sheet</h2>
        <h3>Cheat Sheet for Refactoringbased based on the book &lt;&lt;Refactoring--Improving the Design of Existing Coded&gt;&gt; | 重构速查表</h3>
        <a href="https://github.com/wangvsa/refactoring-cheat-sheet" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      {{content}}
    </div>

  </body>
</html>
