---
layout: default
title: Making Method Calls Simpler
dir: /refactoring-cheat-sheet/making-method-calls-simpler
menu_items: [
'Rename Method<br>重新命名函数',
'Add Parameter<br>添加参数',
'Remove Parameter<br>移除参数',
'Separate Query from Modifier<br>将查询函数和修改函数分离',
'Parameterize Method<br>令函数携带参数',
'Replace Parameter with Explicit Methods<br>以明确函数取代参数',
'Preserve Whole Object<br>保持对象完整',
'Replace Parameter with Method<br>以函数取代参数',
'Introduce Parameter Object<br>引入参数对象',
'Remove Setting Method<br>移除设置函数',
'Hide Method<br>隐藏某个函数',
'Replace Constructor with Factory Method<br>以「工厂函数」取代「构造函数」',
'Encapsulate Downcast<br>封装「向下转型」动作',
'Replace Error Code with Exception<br>用异常取代错误码',
'Replace Exception with Test<br>以测试取代异常',
]
---
{{content}}
