---
layout: default
title: Organizing Data
dir: /refactoring-cheat-sheet/organizing-data
menu_items: [
'Self Encapsulate Field<br>自封装值域',
'Replace Data Value with Object<br>以对象取代数据值',
'Change Value to Reference<br>将实值对象改为引用对象',
'Change Reference to Value<br>将引用对象改为实值对象',
'Replace Array with Object<br>以对象取代数组',
'Duplicate Observed Data<br>复制被监视数据',
'Change Unidirectional Association to Bidirectional<br>将单向关联改为双向',
'Change Bidirectional Association to Unidirectional<br>将单向关联改为双向',
'Replace Magic Number with Symbolic Constant<br>以符号常量/字面常量取代魔法数',
'Encapsulate Field<br>封装值域',
'Encapsulate Collection<br>封装群集',
'Replace Record with Data Class<br>以数据类取代记录',
'Replace Type Code with Class<br>以类取代型别码',
'Replace Type Code with Subclasses<br>以子类取代型别码',
'Replace Type Code with State or Strategy<br>以State/Strategy取代型别码',
'Replace Subclass with Fields<br>以值域取代子类'
]
---
{{content}}
