---
layout: default
title: Simplifying Conditional Expressions
dir: /refactoring-cheat-sheet/simplifying-conditional-expressions
menu_items: [
'Decompose Conditional<br>分解条件式',
'Consolidate Conditional Expression<br>合并条件式',
'Consolidate Duplicate Conditional Fragments<br>合并重复的条件片段',
'Remove Control Flag<br>移除控制标记',
'Replace Nested Conditional with Guard Clauses<br>以卫语句取代嵌套条件式',
'Replace Conditional with Polymorphism<br>以多态取代条件式',
'Introduce Null Object<br>引入Null 对象',
'Introduce Assertion<br>引入断言'
]
---
{{content}}
